.bc-iframe{
/*width:60%;*/
}
.bc-iframe .vjs-playlist{
/*width:40%;*/
}
.vjs-playlist .vjs-playlist-thumbnail{
display:none;
}
.vjs-playlist .vjs-playlist-name{
font-size:70%;
}
.vjs-playlist .vjs-playlist-description{
font-size:70%;
white-space:pre-line !important;
height: 60px !important;
line-height: 14px !important;
}

.vjs-playlist .vjs-playlist-item{
height:75px !important;
}
