.bc-iframe{
/*width:60%;*/
}
.bc-iframe .vjs-playlist{
/*width:40%;*/
}
.vjs-playlist cite {

}
.vjs-playlist{
padding-left:3px !important;
}
.vjs-playlist .vjs-playlist-thumbnail{
/*display:none;*/
  width:80px !important;
  height:50px !important;
}
.vjs-playlist .vjs-playlist-name{
font-size:70%;
white-space:pre-line !important;
height:auto !important;
line-height: normal !important;
}
.vjs-playlist .vjs-playlist-description{
  display:none !important;
 /*
font-size:70%;
white-space:pre-line !important;
height: 60px !important;
line-height: 14px !important;*/
}
.vjs-playlist .vjs-playlist-item{
/*height:75px !important;*/
}
.vjs-playlist time{
font-size: 10px !important;
}
.vjs-playlist .vjs-playlist-thumbnail:before {
    width: 80px !important;
    height: 50px !important;
    line-height:56px !important;
}
.vjs-mouse.vjs-playlist .vjs-playlist-item:hover .vjs-playlist-thumbnail:before,
.vjs-mouse.vjs-playlist .vjs-playlist-item:focus .vjs-playlist-thumbnail:before {
  border-radius: 5px;
  font-family: 'VideoJS';
  height: 16px !important;
  left: 29px !important;
  line-height: 16px !important;
  top: 17px !important;
  width: 22px !important;
}
.vjs-playlist .vjs-selected, .vjs-playlist.vjs-mouse .vjs-selected{
  background-color:none;
}
