.bc-iframe{
/*width:60%;*/
}
.bc-iframe .vjs-playlist{
/*width:40%;*/
}
.vjs-playlist cite {
  height:auto;
}
.vjs-playlist{
padding-left:3px !important;
}
.vjs-playlist .vjs-playlist-thumbnail{
/*display:none;*/
  width:54px !important;
  height:36px !important;
}
.vjs-playlist .vjs-playlist-name{
font-size:70%;
white-space:pre-line !important;
}
.vjs-playlist .vjs-playlist-description{
  display:none !important;
 /*
font-size:70%;
white-space:pre-line !important;
height: 60px !important;
line-height: 14px !important;*/
}
.vjs-playlist .vjs-playlist-item{
/*height:75px !important;*/
}
.vjs-playlist time{
font-size: 10px !important;
}
